html {
  height: 100%;
}
body {
  margin: 0px;
  font-family: var(--primary-font);
}

.App {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg_body);
}

.inputSection {
  margin-top: 0.7rem;
  position: relative;
  font-weight: 500;
  height: 3.5rem;
  background-color: var(--white);
  color: var(--body-text);
}
.searchSection {
  width: 70%;
  padding-left: 2.3rem;
}
.inputField {
  width: 100%;
  font-size: 16px;
  font-family: var(--primary-font);
  outline: none;
  border: 1px solid var(--grey-border-color);
  border-top: none;
  border-bottom: none;
  border-left: none;
  background-color: var(--white);
  color: var(--body-text);
}
.searchIcon {
  font-size: 20px;
  position: absolute;
  align-self: center;
  left: 11px;
  color: var(--body-text);
}
.selectsContainer {
  width: 40%;
}
.sortInput {
  border: 1px solid var(--grey-border-color);
  border-top: none;
  border-bottom: none;
  border-left: none;
  width: 100%;
}
.selectsContainer .selectInput {
  padding: 0.2rem 0.5rem;
  width: 100%;
  overflow-x: hidden;
}
.styled-select {
  border: none;
  width: 100%;
  font-family: var(--primary-font);
  outline: none;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--white);
  color: var(--body-text);
}
.styled-select option {
  max-width: inherit;
}
.selectsContainer label {
  font-size: 13px;
  padding-left: 4px;
}

.topicsTitle {
  color: var(--body-text);
}

.topics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}
.topic {
  background-color: var(--white);
  color: var(--body-text);
  transition: scale 0.2s ease-in-out;
}
.topic:hover {
  scale: 1.03;
}
.topic img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
}

.topicInformation {
  padding: 1rem 1rem;
  min-height: 7rem;
  flex-direction: column;
}

.topicTitle {
  margin: 0px;
  font-size: 15px;
}
.language {
  font-weight: 700;
  margin-block: 0rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}
.stars {
  margin: 1rem 0rem;
}
.star {
  color: #f4a942;
}
.filledStar {
  fill: #f4a942;
}
.author {
  color: var(--author-color);
  font-size: 14px;
  margin: 0px;
}

.filledHeart {
  padding: 0rem 0.2rem;
  font-size: 22px;
  color: var(--heart-color);
}
@media (min-width: 1700px) {
  .top {
    background-size: cover;
  }
}
@media (max-width: 720px) {
  .top {
    background-image: url("../../public/assets/mobile-top-background.svg");
  }
}
@media (max-width: 632px) {
  .container {
    padding: 0.3rem 1rem;
  }
  .top {
    height: 8rem;
    text-align: center;
  }
  .topText {
    margin-top: 2rem;
  }
  .top h2 {
    font-size: 20px;
  }
  .topP {
    font-size: 15px;
  }
  .inputSection {
    flex-wrap: wrap;
    height: fit-content;
  }
  .searchSection {
    width: 100%;
    border-bottom: 1px solid var(--grey-border-color);
  }
  .searchSection .inputField {
    width: 100%;
    height: 3rem;
    border-top-right-radius: 10px;
    border: none;
  }
  .selectsContainer {
    width: 100%;
  }
  .selectsContainer .selectInput {
    padding: 0.4rem 0.8rem;
    padding-bottom: 0.7rem;
  }
  .topic {
    max-width: 100%;
  }
  .topic:hover {
    scale: 1.01;
  }
  .topic img {
    height: 200px;
  }
}
