@media (min-width: 1440px) {
  .info {
    margin-right: 2rem;
  }
}
@media (min-width: 1010px) {
  .subTopics {
    width: 100%;
  }
}

@media (max-width: 1010px) {
  .info {
    width: 100%;
  }
  aside {
    width: unset;
  }
  .test {
    position: static;
  }
  .subTopicsContainer {
    width: 100%;
  }
  .subTopics {
    position: static;
    width: unset;
  }
  .subTopicsListItem {
    padding: 0.8rem 2rem;
  }
}

@media (max-width: 770px) {
  .container {
    padding: 0.3rem 2rem;
  }
  .info {
    width: 100%;
    padding-bottom: 1.5rem;
  }
  .info p {
    font-size: 16px;
  }
}

@media (max-width: 632px) {
  .container {
    padding: 0.3rem 1rem;
  }
  .top {
    text-align: center;
  }
  .infoContainer {
    flex-direction: column;
  }

  .topicImg {
    width: 100%;
    height: 250px;
  }
  .subTopicsListItem {
    padding: 0.8rem 1.2rem;
  }
}
