.errorPage {
  text-align: center;
}
.error {
  color: var(--body-text);
  color: var(--heart-color);
  font-size: 23px;
  font-weight: 700;
  padding: 2rem;
}
.backBtn {
  background-color: var(--bg_default);
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-decoration: none;
  color: var(--body-text);
  border-radius: 10px;
  font-weight: 700;
  box-shadow: var(--box-shadow);
}
