.favouritesSection {
  z-index: 100;
  position: sticky;
  color: var(--body-text);
  background-color: var(--bg_default);
  bottom: 0px;
  margin: 0px;
}
.favouratesTitle {
  margin: 0.4rem 0rem;
}

.favouriteTopicsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  gap: 1.5rem;
  padding: 0px;
  padding-bottom: 0.5rem;
}

.favouriteTopic {
  border: var(--favourite-topic-border);
  list-style-type: none;
}
.favouriteTopicImg {
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 69px;
}
.favouriteTopicInfo {
  padding: 0.5rem;
  padding-top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.test1 {
  flex-grow: 0;
}
.favouriteTopicStars {
  margin: 0px !important;
  font-size: 18px;
}
.removeIcon {
  font-size: 18px;
  flex-shrink: 0;
}
.removeIcon:hover {
  cursor: pointer;
}
.favouriteTopicTitle {
  max-width: 6rem;
  margin: 0px;
}
