.navbar {
  background-color: var(--white);
}
.navTitle {
  color: var(--brand-primary);
  font-size: 18px;
  margin: 1rem 0rem 1rem 0rem;
}

.navListButton {
  color: var(--body-text);
  border: 2px solid var(--grey-border-color);
  padding: 5px 7px;
  border-radius: 5px;
  margin-left: 0.3rem;
}
.navListButton:hover {
  cursor: pointer;
}

.navButtonIcon {
  color: var(--body-text);
  --ionicon-stroke-width: 40px;
}
.navButtonText {
  margin-left: 5px;
}
.top {
  flex-direction: column;
  height: 10rem;
  background-image: url("../../public/assets/desktop-top-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--white);
}

.topText {
  align-self: center;
  margin-top: 4rem;
}
.top h2,
.topP {
  margin: 0px;
}
.top h2 {
  color: var(--brand-secondary);
}
.topP {
  font-size: 18px;
  color: var(--top-paragraph-color);
}

@media (max-width: 632px) {
  .navButtonText {
    display: none;
  }
}
